/* @tailwind base;
@tailwind components;
@tailwind utilities;





/* Component */

/* Header */
body {
  background-color: darkslateblue;
  min-height: 100vh;
}
.header .trigger {
  display: flex;
  align-items: center;
  justify-items: center;
}


